.imgquadrada{
    width: 100x;
    height: 100x;
}
.direito{

}

.logo{
    height: 69px;
    width: 69px;
    left: 13621px;
    top: -2265px;
    border-radius: 0px;
    

}

.logo2{
    height: 59.01251983642578px;
    width: 58.80902862548828px;
    left: 13720px;
    top: -2261px;
    border-radius: 29.21938705444336px;

}